.idea
node_modules
dist
e2e
coverage

.prettierrc.js
angular.json
db.json
karma.conf.js
package.json
package-lock.json
README.md

src/assets/*
src/test.ts
src/main.ts
src/polyfills.ts

tsconfig.app.json
tsconfig.json
tsconfig.spec.json
tslint.json
