<button routerLink="add-driver">Add driver</button>

<div *ngFor="let driver of drivers$ | async">
  <h4>{{ 'drivers.drivers.name' | translate }}: {{ driver.fullName }}</h4>
  <p>{{ 'drivers.drivers.email' | translate }}: {{ driver.email }}</p>
  <p *ngIf="driver.postalCode">Postal code: {{ driver.postalCode }}</p>
  <button [routerLink]="['edit-driver', driver.id]">Edit</button>
  <button mat-raised-button color="primary" (click)="removeDriver(driver)">
    Remove
  </button>
  <button mat-raised-button color="primary" (click)="saveDriver(driver)">
    Save
  </button>
  <hr />
</div>
